<h1>Welcome to Quizuno</h1>

<p>
This page shows some of the progress that I have made,
being able to navigate around the folders created by vagrant
necessary to create web apps. Or in this case Quiz No. 1
which is a static content page. I believe this should fit the criteria.
</p>