@import "bootstrap";

h1 {
  color: #4286f4;
  text-align: center;
}

p {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grey {
  color: #a4a8ad;
  font-weight: 500;
  text-align: center;
}